
<header class="site-navigation">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Főoldal</a></li>
                    <li class="dd"><a href="/articles">Cikkek</a></li>
                    <li><a href="/contacts">Elérhetőségek</a></li>
                </ul>
            </nav>
            <div class="mobile-nav">
               <a class="open-menu" href=""> MENÜ <i class="fa fa-bars" aria-hidden="true"></i></a>
            </div>
        
            <div class="userhandle">
                <table>
                    <tr>
                        <td><i class="fa fa-user"> </i></td>
                        <td class="spacer">|</td>
                        <td><a href="/logout">Kijelentkezés</a></td>
                    </tr>
                </table>
                <table>
                <td><a href="/login">Bejelentkezés</a></td>
                    <td class="spacer">|</td>
                <td><a href="/Signup">Regisztráció</a></td>
            </table>
            </div>
            
        </div>
        <script>
        $(document).ready(function(){

            $(".userhandle").hover(
                function() {
                    $('.usermenu').slideDown('fast');
                },
                function() {
                    $('.usermenu').slideUp('fast');
                }
            );

        });
        </script>
    </header>