<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/app.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        p {
            font-size:14px;
        }
        .hero-rotator a {
            color:black;
            position:relative;
            text-align:center;
        }
        .imagecontent {
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 0px 0px 15px 15px;
            width: 280px;
        }
    </style>
</head>
<body>
    <% include header %>
    <div id="main-content" class="container">

        <div class="article-container">

        </div>
    </div>

    <% include footer %>
<script src="js/app-min.js"></script>
</body>
</html>
